:root{
	--astra: #ae0258;
}


.banner{
	background: #abdbff;
	padding: 50px 0px;
}
.banner img{
	width: 100px;
}
.banner h1{
	font-weight: bold;
}
.banner p{
	font-size: 24px;
	border-left: 4px solid;
	padding-left: 15px;
}
.gris{
	background: #fbfbfb;
}

.astra{
	background: #ffa0d0;
	color: var(--astra);
}
.sinovac{
	background: #ffd17b;
	color: #c85008;
}





.etapa{
	width: 100%;
	height: auto;
	padding: 50px 0px;
}

.img-list{
	width: 30px;
}


h2.years {
	font-size: 52px;
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 15px;
}
h2.years span{
	font-size: 18px;
	padding: 0px 10px;
	border-radius: 5px;
	margin-left: 10px;
	font-weight: 500;
}
.tarjeta ul li.dosis h3{
	font-size: 24px;
	font-weight: bold;
}
.tarjeta ul li.dosis h3 span.jornada{
	font-size: 16px;
	font-weight: normal;
	margin-left: 10px;
	font-style: italic;
	padding: 0px 10px;
}
span.jornada.terminada{
	color: #919191;
}
span.jornada.proceso{
	background: yellow;
	color: #000;
}
span.jornada.espera{
	background: red;
	color: #fff;
}
span.jornada.proxima{
	background: #74ff74;
}

.tarjeta ul li.fecha h3, .tarjeta ul li.sedes h3{
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.tarjeta ul li.fecha ul li{
	color: #868686;
	line-height: 25px;
}
.tarjeta ul li.fecha ul li span{
	color: #000;
	font-weight: 600;
	margin-left: 15px;
}
.tarjeta ul li.sedes ul li{
	line-height: 25px;
	font-weight: 600;
}

.tarjeta ul li.sedes ul li span {
	background: #eeff79;
	border-left: 2px solid #99ae08;
	padding-left: 10px;
}