:root{
	--astra: #ae0258;
}


.banner{
	background: #abdbff;
	padding: 50px 0px;
}
.banner img{
	width: 100px;
}
.banner h1{
	font-weight: bold;
}
.banner p{
	font-size: 24px;
	border-left: 4px solid;
	padding-left: 15px;
}
.gris{
	background: #f7f7f7;
}

.astra{
	background: #ffa0d0;
	color: var(--astra);
}
.sinovac{
	background: #ffd17b;
	color: #c85008;
}
.definirse{
	background: #ff8c86;
	color: #df0b0b;
}




.etapa{
	width: 100%;
	height: auto;
	padding: 50px 0px;
}

.img-list{
	width: 30px;
}


h2.years {
	font-size: 52px;
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 15px;
}
h2.years span{
	font-size: 18px;
	padding: 0px 10px;
	border-radius: 5px;
	margin-left: 10px;
	font-weight: 400;
}
.tarjeta ul li.dosis h3{
	font-size: 24px;
	font-weight: bold;
}
.tarjeta ul li.dosis h3 span.jornada{
	font-size: 16px;
	font-weight: normal;
	margin-left: 10px;
	font-style: italic;
	padding: 0px 10px;
}
span.jornada.terminada{
	color: #353535;
	background: #d2d2d2;
}
span.jornada.proceso{
	background: yellow;
	color: #000;
}
span.jornada.espera{
	background: red;
	color: #fff;
}
span.jornada.proxima{
	background: #74ff74;
}

.tarjeta ul li.fecha h3, .tarjeta ul li.sedes h3{
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.tarjeta ul li.fecha ul li{
	color: #868686;
	line-height: 25px;
}
.tarjeta ul li.fecha ul li span{
	color: #000;
	font-weight: 600;
	margin-left: 15px;
}
.tarjeta ul li.sedes ul li{
	line-height: 25px;
	font-weight: 600;
}

.tarjeta ul li.sedes ul li span {
	background: #eeff79;
	border-left: 2px solid #99ae08;
	padding-left: 10px;
}






/* -----------------------------------------------*/
/*------------------- RESPONSIVE -----------------*/
/*------------------------------------------------*/




@media screen and (max-width: 991px){
	.tarjeta ul li.dosis h3{
		white-space: nowrap;
	}
	
	.tarjeta ul li.dosis h3 span.jornada{
		font-size: 14px;
		margin-left: 0px;
	}
	
}



@media screen and (max-width: 767px){
	
	.tarjeta{
		
		padding-left: 15px;
	}
	/* estilos para el border izquierdo en version movil */
	
	.temp{
		border-left: 4px solid #d2d2d2;
	}
	.process{
		border-left: 4px solid yellow;
	}
	.prox{
		border-left: 4px solid #74ff74;
	}
	.esp{
		border-left: 4px solid red;
	}
	
	
	.tarjeta ul li.dosis h3{
		white-space: normal;
		margin-top: 15px;
	}
	.pegajoso{
		position: sticky;
		top: 0;
	}
	
	.gris .pegajoso{
		background: #f7f7f7;
	}
	.blanco .pegajoso{
		background: #fff;
	}
	
	
	
	
}




@media screen and (max-width: 575px){
	.banner{
		padding: 20px 0px;
	}
	.banner h1{
		font-size: 24px;
	}
	.banner p{
		font-size: 16px;
	}
	
	h2.years{
		font-size: 32px;
		margin-bottom: 0px;
		padding-top: 10px;
	}
	h2.years span {
	    font-size: 16px;
	}
	.tarjeta ul li.dosis h3{
		font-size: 18px;
	}
	.tarjeta ul li.fecha h3, .tarjeta ul li.sedes h3 {
    	font-size: 16px;
	}
	.tarjeta ul li.fecha ul li, .tarjeta ul li.sedes ul li{
		font-size: 14px;
	}
}

@media screen and (max-width: 440px){
	h2.years {
		font-size: 24px;
	}
}




@media screen and (max-width: 348px){
	.banner h1{
		font-size: 18px;
	}
	
	
	.tarjeta ul li.dosis h3 {
		font-size: 16px;
	}
	.tarjeta ul li.fecha h3, .tarjeta ul li.sedes h3 {
		font-size: 14px;
	}
	.tarjeta ul li.fecha ul li, .tarjeta ul li.sedes ul li {
		font-size: 12px;
	}
	.tarjeta ul li.dosis h3 span.jornada {
    	font-size: 12px;
	}
}

@media screen and (max-width: 320px){
	h2.years span {
	    font-size: 12px;
	}
}
