:root{
	--astra: #ae0258;
}


.banner{
	background: #eff3f6;
	padding: 50px 0px;
}
.banner img{
	width: 100px;
}
.banner h1{
	font-weight: bold;
}

.etapas{
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.etapas h2{
	font-size: 32px;
	font-weight: bold;
}
.etapas .tarjet{
	margin-top: 60px;
}
.etapas .tarjet h3{
	font-size: 24px;
	font-weight: bold;
}
.etapas .tarjet h3 span{
	font-size: 18px;
	padding: 0px 10px;
	border-radius: 5px;
	margin-left: 10px;
	font-weight: 500;
}

.etapas .tarjet .info{
	display: flex;
	justify-content: space-between;
	border-bottom:  1px solid #ececec;
	align-items: center;
	padding: 15px 0px;
}
.etapas .tarjet .info .date{
	display: flex;
}
.etapas .tarjet .info .date img{
	width: 30px;
}

.etapas .tarjet .info .date h4, .etapas .tarjet .info .user h4{
	font-size: 18px;
	margin-bottom: 0px;
	font-weight: bold;
}

span.confi{
	font-size: 16px;
	background: #c3ffc3;
	color: #046204;
	padding: 0px 5px;
	font-weight: normal;
	margin-left: 10px;
}
span.pendiente{
	font-size: 16px;
	background: #71e4ff;
	color: #137991;
	padding: 0px 5px;
	font-weight: normal;
	margin-left: 10px;
}
span.proceso{
	font-size: 16px;
	background: #f7ff00;
	color: #444606;
	padding: 0px 5px;
	font-weight: normal;
	margin-left: 10px;
}
span.terminada{
	font-size: 16px;
	color: #bfbfbf;
	padding: 0px 5px;
	font-weight: normal;
	margin-left: 10px;
}
.etapas .tarjet .info .user h4 span{
	font-weight: normal;
}
.etapas .tarjet .info .user h4.fin{
	font-style: italic;
	color: #bfbfbf;
}
.etapas .tarjet .info .user h4.proxima{
	background: #c3ffc3;
	color: #046204;
}
.etapas .tarjet .info .user h4.curso{
	background: #f7ff00;
	color: #444606;
}
.etapas .tarjet .info .user h4.pendiente{
	background: #71e4ff;
	color: #137991;
}

.astra{
	background: #ffa0d0;
	color: var(--astra);
}
.sinovac{
	background: #ffd17b;
	color: #c85008;
}